<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitcen.parkdusang.healthtrainer">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="org.androidtown.gcm.push.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.androidtown.gcm.push.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Trainermode"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.AddCustomer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.RegisterInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Customercontent1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Customercontent2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Customercontent3"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.CustomerInformation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Setexercise"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Todayreport"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.CreateExercise"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Customercontent4"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Connectionwaiting"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Answerclass"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Inbodyinfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Recodeexercise"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.MainTab"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.fitcen.parkdusang.healthtrainer.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- 메시지 수신 메시지 지정 -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.androidtown.gcm.push" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.ExerciseInformation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Findidpassword"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fitcen.parkdusang.healthtrainer.Developer"
            android:screenOrientation="portrait" />

        <service
            android:name="com.fitcen.parkdusang.healthtrainer.Destroyconnection"
            android:exported="false" />

        <activity android:name="com.fitcen.parkdusang.healthtrainer.NetworkError"></activity>
    </application>

</manifest>
