<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkdusang.healthtrainer">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="org.androidtown.gcm.push.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.androidtown.gcm.push.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Trainermode"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AddCustomer"
            android:label="@string/app_name" />
        <activity
            android:name=".Register"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterInfo"
            android:label="@string/app_name" />
        <activity
            android:name=".Customercontent1"
            android:label="@string/app_name" />
        <activity
            android:name=".Customercontent2"
            android:label="@string/app_name" />
        <activity
            android:name=".Customercontent3"
            android:label="@string/app_name" />
        <activity
            android:name=".CustomerInformation"
            android:label="@string/app_name" />
        <activity
            android:name=".Setexercise"
            android:label="@string/app_name" />
        <activity
            android:name=".Todayreport"
            android:label="@string/app_name" />
        <activity
            android:name=".CreateExercise"
            android:label="@string/app_name" />
        <activity
            android:name=".Customercontent4"
            android:label="@string/app_name" />
        <activity
            android:name=".Connectionwaiting"
            android:label="@string/app_name" />
        <activity
            android:name=".Answerclass"
            android:label="@string/app_name" />
        <activity
            android:name=".Inbodyinfo"
            android:label="@string/app_name" />
        <activity
            android:name=".Recodeexercise"
            android:label="@string/app_name" />
        <activity
            android:name=".MainTab"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- 메시지 수신 메시지 지정 -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.androidtown.gcm.push" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ExerciseInformation"
            android:label="@string/app_name" />
        <activity android:name=".Findidpassword"></activity>
    </application>

</manifest>
